@font-face {
	font-family: 'm12';
    src: url('../fonts/m12.ttf');
    font-style: normal;
    font-weight: normal;
}


body {
	margin: 0 !important;
	overflow: hidden;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

#game {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

#game-text {
	width: 80%;
	position: relative;
	top: 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;

	text-align: center;
	color: white;
	letter-spacing: 1px;
}

#game-text div.title {
	font-family: 'm12';
	font-size: 36px;
}

#game-text div.broadcast {
	margin-top: 10px;
	font-family: 'm12';
	font-size: 18px;
	font-style: italic;
}

#game-stats {
	left: 25px;
	bottom: 25px;
	position: absolute;
	
}

#game-stats .main-title {
	font-family: 'm12';
	font-size: 12px;
	font-style: italic;
	color: white;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

.game-stats-row {
	margin-bottom: 5px;
	height: 24px;
}

.game-stats-row:last-child {
	margin-bottom: 0px;
}

.game-stats-row div.title {
	font-family: 'm12';
	font-size: 24px;
	color: white;
	letter-spacing: 1px;
	width: 180px;
	float: left;
}

.game-stats-row div.items {
	float: left;	
}

.game-stats-row div.items div.item {
	width: 14px;
	height: 22px;
	
	margin-right: 2px;
	float: left;
	border: 1px solid white;
}

.game-stats-row div.items div.item:last-child {
	margin-right: 0px;
}

/* UPGRADES */
#game-upgrades {
	left: 25px;
	bottom: 140px;
	position: absolute;
}

#game-upgrades .main-title {
	font-family: 'm12';
	font-size: 12px;
	font-style: italic;
	color: white;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

#levelup {
	position: absolute;
	bottom: 227px;
	left: 262px;
	font-family: 'm12';
	font-size: 20px;
	margin-bottom: 5px;
	letter-spacing: 1px;
	float: left;
	width: 50%;
	color: rgb(0, 255, 33);
}

#levelup::before {
	content: "Level up!";
	
}

.game-upgrades-row {
	margin-bottom: 5px;
	height: 24px;
}

.game-upgrades-row:last-child {
	margin-bottom: 0px;
}

.game-upgrades-row div.title {
	font-family: 'm12';
	font-size: 24px;
	color: white;
	letter-spacing: 1px;
	width: 180px;
	float: left;
}

.game-upgrades-row div.items {
	float: left;	
}

.game-upgrades-row div.items div.item {
	width: 14px;
	height: 22px;
	
	margin-right: 2px;
	float: left;
	border: 1px solid white;
}

.game-upgrades-row div.items div.item:last-child {
	margin-right: 0px;
}

.game-upgrades-row .upgrade {
	float: left;
	color: white;
	line-height: 24px;
	margin-left: 5px;
	font-size: 26px;
	font-weight: 900;
	transition: font-size 0.3s;
}

.game-upgrades-row .upgrade.inactive {
	color: #7d7d7d;
}

.game-upgrades-row .upgrade::before {
	content: '+';
}

.game-upgrades-row .upgrade:hover {
	font-size: 32px;
	cursor: pointer;
}

.game-upgrades-row .upgrade.inactive:hover {
	font-size: 26px;
	cursor: initial;
}

.item.active {
	background: white;
}

.item.inactive {
	background: rgba(0, 0, 0, 0) !important;
}

#game-map {
	right: 25px;
	bottom: 25px;
	position: absolute;
}

#game-info {
	font-family: 'm12';
	font-size: 10px;
	color: white;
	letter-spacing: 1px;
	height: 10px;
	margin-bottom: 3px;
}

#game-info div.left {
	float: left;
}

#game-info div.right {
	float: right;
}

#game-square {
	width: 200px;
	height: 200px;
	border: 2px solid white;
	background: #000019;
}

#game-buttons {
	margin-top: 13px;
	float: left;
	margin-right: 3px;
}
.game-button .tooltip {
    visibility: hidden;
    background-color: transparent;
    text-align: center;
    padding: 6px 4px 6px 8px;
    border: 2px solid white;
    position: absolute;
    z-index: 1;
    text-align: center;

    top: 4px;
    right: calc(100% + 5px);

    font-family: 'm12';
	font-size: 10px;
	color: white;
	letter-spacing: 1px;
	background: #000019;
}

.game-button {
	width: 20px;
	height: 20px;
	padding: 7px;
	margin-bottom: 3px;
	border: 2px solid white;
	transition: all .3s;
	background: #000019;

	position: relative;
}

.game-button:hover {
	/*border-color: #afafaf;*/
	cursor: pointer;
	padding: 5px;
	width: 24px;
	height: 24px;
}

.game-button:hover .tooltip {
    visibility: visible;
}

.game-button.active {
	border-color: #7d7d7d;
	padding: 5px;
	width: 24px;
	height: 24px;
}

.game-button.active:hover {
	cursor: initial;
}

.game-button img {
	width: 100%;
	height: 100%;
	image-rendering: auto;
}

.game-button:last-child {
	margin-bottom: 0;
}

#game-container {
	float: left;
}

#game-square .inactive {
	display: none;
}

#square-minimap {
	width: 100%;
	height: 100%;
}

#square-minimap canvas {
	width: 100%;
	height: 100%;
}

#square-leaderboard {
	width: 100%;
	height: 100%;
	position: relative;
}

#square-settings {
	width: 100%;
	height: 100%;
}

#leaderboard-rows {
	width: 100%;
	padding-top: 15px;
}

#leaderboard-rows .row {
	font-family: 'm12';
	font-size: 10px;
	color: white;
	letter-spacing: 1px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 6px;
	width: calc(100% - 10px);
	height: 10px;
}

#leaderboard-rows .row:last-child {
	margin-bottom: 0;
}

#leaderboard-rows .row .rank {
	float: left;
	width: 15%;
	text-align: center;
}

#leaderboard-rows .row .name {
	float: left;
	width: 70%;
	text-align: left;
}

#leaderboard-rows .row .amount {
	float: left;
	width: 15%;
	text-align: center;
}

#leaderboard-you {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 15px;
	font-family: 'm12';
	font-size: 10px;
	color: white;
	letter-spacing: 1px;
	text-align: center;
}

#you-rank {
	width: 100%;
	margin-bottom: 6px;
}

#you-amount {
	width: 100%;
}

.settings-section {
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	width: calc(100% - 10px);
}

.settings-section:last-child {
	margin-bottom: 0;
}

.setting {
	margin-bottom: 8px;
	float: left;
	width: 100%;
}

.setting:last-child {
	margin-bottom: 0;
}

.setting .title {
	font-family: 'm12';
	font-size: 10px;
	color: white;
	letter-spacing: 1px;
	width: 50%;
	float: left;
}

.setting .content {
	width: 50%;
	height: 10px;
	float: left;
}

.setting .content input[type=range] {
	color: white;
	margin: 0;
	height: 10px;
	width: 100%;
	background: transparent;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: white;
    margin-top: -5px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: #7d7d7d;
    border: none;
    margin-top: -8px;
}

input[type=range]:focus {
	outline: none;
}
